/* 
======================================
Sección Instrucciones
======================================
*/
.instructions_container{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white-letter-color);
    font-size: var(--inst-font-size);
}
.instruction_flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 500px;
    width: 100%;
    padding: 40px 5px;
}
.instructions_close_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    color: var(--white-letter-color);
    font-weight: 700;
    background-color: var(--right-place-color);
    cursor: pointer;
    transition: var(--bg-color-transition);
    position: absolute;
    top: 10px;
    right: 10px;
}
.instructions_paragraph{
    margin: 10px 0;
}
.instructions_colors{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 0;
    width: 90%;
}
.instructions_color{
    display: flex;
    justify-content: space-between;
}
.instructions_color_letter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    font-size: 28px;
}
.instruction_right_place_text{
    width: 80%;
    display: flex;
    align-items: center;
}
.instructions_play{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--white-letter-color);
}
.instructions_play_btn{
    background-color: var(--right-place-color);
    color: var(--white-letter-color);
    font-weight: 700;
    padding: 8px 37px;
    border-radius: 8px;
    transition: var(--bg-color-transition);
}
.instructions_play_btn:hover, .instructions_close_btn:hover{
    background-color: var(--hover-new-btn);
}

/*
====================================== 
Original Game Component
======================================
*/
.original_game_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 8px;
}
.original_text{
    text-align: center;
    letter-spacing: 1px;
}
.original_text a{
    color: var(--right-place-color);
    font-weight: 500;
}
.original_wordle_letters{
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 100%;
}
.original_wordle_letter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 600;
}



/* 
======================================
Juego
======================================
*/
.section_game, .game_flex, .letters_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_game{
    display: none;
}
.game_flex{
    width: 100%;
    padding-bottom: 50px;
}

/* Título */
.game_title{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    height: var(--word-cell-width);
}

/* Botón de Nuevo Juego */
.new_game_btn{
    background-color: var(--right-place-color);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px 27px;
    color: var(--white-letter-color);
    font-weight: 600;
    cursor: pointer;
    transition: var(--bg-color-transition);
}
.new_game_btn:hover{
    background-color: var(--hover-new-btn);
}

/* Palabras Elegidas */
.words_container{
    display: flex;
    flex-direction: column;
    gap: var(--letter-gap);
    margin: 20px auto;
    max-width: 280px;
    width: 70%;
}
.word{
    display: flex;
    gap: var(--letter-gap);
}
.letter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--word-cell-width);
    height: var(--word-cell-width);
    border: 2px solid var(--unchosen-letter-color);
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: 700;
    cursor: default;
    text-transform: uppercase;
}

/* Teclado */
.letters_container{
    display: flex;
    justify-content: space-between;
    gap: 7px;
    max-width: 32rem;
    width: 100%;
}
.keyboard_row{
    display: flex;
    justify-content: space-around;
    gap: 4px;
    width: 95%;
}
.keyboard_letter{
    background-color: var(--unchosen-letter-color);
    border: none;
    border-radius: 5px;
    width: 47px;
    height: 56px;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    transition: var(--bg-color-transition);
}
.keyboard_letter:focus{
    outline: none;
}
.keyboar_hover{
    /* Solo esta para sacar el efecto hover de una letra elegida */
    /* La clase quedó mal escrita. Debería ser keyobaorD_hover, pero no tengo ganas de modificar todo el HTML */
    background-color: var(--unchosen-letter-color);
}
.keyboar_hover:hover{
    background-color: var(--hover-letter-color);
}

/* Error Messages */
.error_msg{
    position: absolute;
    top: -15%;
    left: 50%;
    max-width: 420px;
    height: 74px;
    width: 100%;
    transform: translateX(-50%);
    padding: 24px 32px 24px 24px;
    background-color: var(--white-letter-color);
    border: 1px solid var(--error-msg-border);
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px #0000001a,0 4px 6px -4px #0000001a;
    text-align: center;
    /* animation: show_error_msg 3s ease-in-out; */
}
.error_animation {
    animation: show_error_msg 3s ease-in-out;
}

@keyframes show_error_msg {
    0% {
        top: -74px;
    }
    25% {
        top: 15%;
    }
    75% {
        top: 15%;
    }
    100% {
        top: -15%;
    }
}

/* Clases utilitarias */
.right_place{
    background-color: var(--right-place-color);
    border: none;
    color: var(--white-letter-color);
}
.right_letter{
    background-color: var(--right-letter-color);
    border: none;
    color: var(--white-letter-color);
}
.wrong_letter{
    background-color: var(--wrong-letter-color);
    border: none;
    color: var(--white-letter-color);
}
.chosen_letter{
    border: none;
    color: var(--white-letter-color);
}
.current_cell{
    border-color: var(--current-cell-color);
}
.hide_section {
    display: none;
}
.show_section{
    display: flex;
}


