@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root{
  /* Colores */
  --wrong-letter-color: #757575;
  --right-place-color: #43A047;
  --right-letter-color: #E4A81D;
  --unchosen-letter-color: #E2E8F0;
  --hover-letter-color: #A9AEB4;
  --hover-new-btn: #378d3c;
  --current-cell-color: #90caf9;
  --dark-letter-color: #000;
  --white-letter-color: #FFF;

  /* Medidas */
  --word-cell-width: 50px;
  --letter-gap: 5px;

  /* Transition */
  --bg-color-transition: all .15s cubic-bezier(.4,0,.2,1);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}